:root{
  --nav-gold:#ffe06d,
  --nav-grey:#b0b0b0,
}
@font-face {
  font-family: Aquire;
  src: url(./assets/fonts/AquireBold-8Ma60.otf);
}
.aquire{
  font-family: Aquire;
}
.sidebar-active::after{ 
  height: 44px;
  width: 11px;
  background: linear-gradient(90deg,var(--nav-gold),transparent);
  content: "";
  position: absolute;
  left: 0;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.sidebarOptionsScrollbar{
  overflow-x: scroll;
}
.sidebarOptionsScrollbar::-webkit-scrollbar{
background:pink;
margin-top: 2rem;
height: 3px;
border-radius: 10px;
width: 100px;



}
.sidebarOptionsScrollbar::-webkit-scrollbar-thumb{
  border-radius: 10px;
  background: #202020;

}
/* Present */

.slot {
	color: black;
	font-size: 1.5em;
	font-weight: bold;
	letter-spacing: 0.1em;
	line-height: 1;
	overflow: hidden;
	height: 1em;
	
	
}

.cloudinary-bg{
	background-color: rgb(56, 71, 191);
}input:checked ~ span:last-child {
    --tw-translate-x: 1.75rem; 
  }


/* 
  .qrcodeRowActive{
    animation : 5s ani-qrcodeRowActive ease-in infinite ; 
  }
  @keyframes ani-qrcodeRowActive{
    0%{
        background:linear-gradient(to right, red 50%, green 50%) 0% 0% / 200%;
      }
      100%{
        
        background:linear-gradient(to right, red 50%, green 50%) 100% 0% / 200%;
    }
  } */
  